/* A global file is made cause the styles to add are only a few */

* {
    box-sizing: border-box;
}

/* ALERT TOAST */
.alert-container--no-bootstrap {
    width: 100%;
    overflow: hidden;
}

.alert-container--no-bootstrap .alert {
    padding: 0px;
    min-height: 50px;
    max-width: 450px;
    position: relative;
    margin: auto;
    transition: transform 300ms linear 0s;
    transform: translate(0%, -100%);
}

.alert-container--no-bootstrap .alert--show {
    transition: transform 300ms linear 0s;
    transform: translate(0%, 0%);
}

.alert-container--no-bootstrap .alert--error {
    border: 1px solid rgb(173,47,51);
    background-color: rgb(235,200,196);
    color: rgb(173,47,51);
}
.alert-container--no-bootstrap .alert--success {
    border: 1px solid rgb(84,104,76);
    background-color: rgb(222,242,214);
    color: rgb(84,104,76);
}

.alert-container--no-bootstrap .alert__message {
    font-size: 18px;
    padding: 10px 15px;
    text-align:center;
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    transform: translate(0%, -50%);
}

/* SIMPLE LOADER IMPLEMENTATION */
.loader {
    display: inline-block;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid rgba(0,0,0,.4);
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}